html, body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
  }
  
  body {
    overflow: hidden;
    height: inherit;
    position: relative;
  }
  
  h1 {
    font-size: 2rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: -4px;
    right: 5px;
  
    color: transparent;
    text-shadow: 0 0 4px white;
  }
  canvas {
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .container {
    padding: 50px;
    height: 100vh;
  }
  .input-wrp {
    width: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    display: none;
  }
  .active {
    display: block !important;
    transition: 1s;
  }
  .show-btn {
    width: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    display: none;
  }
  .show-btn:hover{
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.7);
    transition: 0.5;
  }
.cls-btn {
  position: absolute;
  top: 14px;
  left: 14px;
  cursor: pointer;
}
.cls-btn img {
  width: 15px;
}